.dropdown {
  width: 355px;
  user-select: none;
  position: relative;
}

.dropdown .dropdown-btn {
  padding: 10px 15px;
  background-color: #fff;
  color: #004d61;
  display: flex;
  align-items: center;
  border: 1px solid #004d61;
  border-radius: 8px;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  width: 355px;
  position: absolute;
  background: #fff;
  color: #004d61;
  border: 1px solid #004d61;
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #dce6e7;
  font-weight: bold;
}

.dropdown .dropdown-content .dropdown-item:last-child:hover {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
